diabetes prediction flows.txt
[
    {
        "id": "50772fd1.2c1d9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7fcadff.9f1eb",
        "type": "function",
        "z": "50772fd1.2c1d9",
        "name": "PreToken",
        "func": "global.set(\"pg\",msg.payload.pg)\nglobal.set(\"gs\",msg.payload.gs)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"is\",msg.payload.is)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"Nfl9gwLTRMO83ylgq_4NGCw2acPqpExAitsIxyXKcHDP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 580,
        "wires": [
            [
                "b1b8276f.fceb28"
            ]
        ]
    },
    {
        "id": "b1b8276f.fceb28",
        "type": "http request",
        "z": "50772fd1.2c1d9",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 659,
        "y": 568.9999952316284,
        "wires": [
            [
                "e82a3371.e051f"
            ]
        ]
    },
    {
        "id": "1d5c4ed7.14a241",
        "type": "inject",
        "z": "50772fd1.2c1d9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305.5,
        "y": 493.99999809265137,
        "wires": [
            [
                "c7fcadff.9f1eb"
            ]
        ]
    },
    {
        "id": "4d926bc3.9f15a4",
        "type": "debug",
        "z": "50772fd1.2c1d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1098.0000114440918,
        "y": 310.99999713897705,
        "wires": []
    },
    {
        "id": "e82a3371.e051f",
        "type": "function",
        "z": "50772fd1.2c1d9",
        "name": "Pre Prediction",
        "func": "var pg = global.get('pg')\nvar gs = global.get('gs')\nvar bp = global.get('bp')\nvar st = global.get('st')\nvar is = global.get('is')\nvar bm = global.get('bm')\nvar dpf= global.get('dpf')\nvar ag = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"4e3c2dc4-1601-4e86-9eb5-d0b2968050a6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Pregnancies\", \"Glucose\", \"BloodPressure\", \"SkinThickness\", \"Insulin\", \"BMI\",\"DiabetesPedigreeFunction\", \"Age\"], \"values\": [[pg,gs,bp,st,is,bm,dpf,ag]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 856.0000076293945,
        "y": 531.9999990463257,
        "wires": [
            [
                "12f9736f.6ff8fd"
            ]
        ]
    },
    {
        "id": "12f9736f.6ff8fd",
        "type": "http request",
        "z": "50772fd1.2c1d9",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v4/deployments/6b4dd48d-8f56-4780-a13c-816f59bbe3da/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 949.5000076293945,
        "y": 475.9999990463257,
        "wires": [
            [
                "9bb9b4c8.e51ae8",
                "4d926bc3.9f15a4"
            ]
        ]
    },
    {
        "id": "ad2c08b0.513fa8",
        "type": "ui_form",
        "z": "50772fd1.2c1d9",
        "name": "",
        "label": "",
        "group": "f9dce465.00de48",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Pregnancies\t",
                "value": "pg",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Glucose",
                "value": "gs",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BloodPressure",
                "value": "bp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "SkinThickness",
                "value": "st",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Insulin",
                "value": "is",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "bm",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "DiabetesPedigreeFunction",
                "value": "dpf",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Age\t",
                "value": "ag",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "pg": "",
            "gs": "",
            "bp": "",
            "st": "",
            "is": "",
            "bm": "",
            "dpf": "",
            "ag": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 251,
        "y": 622.9999952316284,
        "wires": [
            [
                "c7fcadff.9f1eb"
            ]
        ]
    },
    {
        "id": "52d5a9da.ae4608",
        "type": "ui_text",
        "z": "50772fd1.2c1d9",
        "group": "f9dce465.00de48",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "prediction ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 987.6000366210938,
        "y": 628.2000074386597,
        "wires": []
    },
    {
        "id": "9bb9b4c8.e51ae8",
        "type": "function",
        "z": "50772fd1.2c1d9",
        "name": "",
        "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 809.6000366210938,
        "y": 371.60000133514404,
        "wires": [
            [
                "52d5a9da.ae4608"
            ]
        ]
    },
    {
        "id": "f9dce465.00de48",
        "type": "ui_group",
        "z": "",
        "name": "Diabetic prediction",
        "tab": "c193d83f.92dc98",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c193d83f.92dc98",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]